:root {
  --text: #000;
  --red: #ea736d;
  --blue: #039be5;
  --yellow: #fbdc4d;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
}
html,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}
button,
input {
  outline: none;
}
button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.button-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn {
  height: 65px;
  display: inline-block;
  line-height: 55px;
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 20px;
  font-size: 22px;
  color: black;
  background-color: #fbdc4d;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  border: 5px solid #fbdc4d;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.btn:hover {
  background-color: #ffd200;
  border: 5px solid #ffd200;
}
.btn:active {
  background-color: #e1bc10;
  border: 5px solid #e1bc10;
}
.btn-transparent {
  background-color: white;
  border: 5px solid #464646;
  color: #464646;
}
.btn-transparent:hover {
  background-color: white;
  border: 5px solid #797979;
  color: #797979;
}
.btn-transparent:active {
  border: 5px solid #464646;
  color: #464646;
}
.social-link {
  width: 50px;
}
.github {
  color: black;
}
.telegram {
  color: #039be5;
}
.vk {
  color: #fff;
  border: 7px solid #4d76a1;
  border-radius: 100%;
  background-color: #4d76a1;
  width: 50px;
  height: 50px;
}
.facebook {
  color: #3b5998;
}
.header-social-item {
  margin-top: 30px;
}
.header-social-item a {
  margin-right: 28px;
}
.header-social-item a:last-child {
  margin-right: 0;
}
.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: url(../img/header-icons/bg/line.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
  padding-top: 76px;
  padding-bottom: 240px;
}
.header-nav-container {
  max-width: 1430px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  color: #000000;
  font-weight: 900;
}
.header-logo::after {
  content: "";
  position: absolute;
  bottom: 9px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: #fbdc4d;
  z-index: -1;
}
.header-menu {
  display: none;
}
@media (min-width: 1159px) {
  .header-menu {
    display: inline-block;
    padding-top: 5px;
    text-align: center;
  }
}
.nav-link {
  position: relative;
  margin-right: 75px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  z-index: 2;
  color: #000;
}
.nav-link:last-child {
  margin-right: 0;
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: var(--yellow);
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav-link:hover::after {
  width: 100%;
}
.header-social {
  display: none;
}
@media (min-width: 1159px) {
  .header-social {
    display: inline-block;
    padding-top: 10px;
  }
}
.fa-linkedin {
  margin-right: 15px;
  color: #000;
}
.fa-linkedin:hover {
  color: #0077b5;
}
.fa-github {
  margin-right: 15px;
  color: #000;
}
.fa-github:hover {
  color: #6cc644;
}
.fa-vk {
  color: #000;
}
.fa-vk:hover {
  color: #45668e;
}
.header-bg {
  z-index: 1;
  margin-top: -130px;
  max-width: 1600px;
}
.header-skills {
  position: relative;
  margin-top: -20px;
}
.header-list {
  margin-right: 165px;
}
.sub-title {
  font-weight: 800;
  font-size: 40px;
}
.header-list-items {
  font-size: 24px;
  color: var(--text);
  line-height: 1.6;
  margin-bottom: 40px;
}
.header-list-items li:before {
  position: absolute;
  content: "\2014";
  margin-left: -40px;
}
.header-skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.email {
  text-decoration: underline;
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  color: #000;
}
.header-center {
  padding-top: 150px;
}
.header-center__content {
  position: relative;
  display: block;
  z-index: 3;
}
@media (min-width: 768px) {
  .header-center__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.header-center__title {
  width: 100%;
}
@media (min-width: 768px) {
  .header-center__title {
    width: 48%;
  }
}
.header-center__title h1 {
  font-size: 90px;
  font-weight: 900;
  line-height: 1.2;
}
.line-name {
  position: relative;
  z-index: 2;
}
.line-name::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -5px;
  right: -5px;
  height: 14px;
  background-color: var(--yellow);
  z-index: -1;
}
.header-center__title p {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 24px;
  color: #393f47;
  line-height: 1.5;
  font-weight: 500;
  width: 488px;
}
.header-center__img {
  width: 100%;
}
@media (min-width: 768px) {
  .header-center__img {
    width: 28%;
    margin-right: 150px;
  }
}
.header-center__img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 248, 249, 0);
}
/*# sourceMappingURL=main.css.map */